    <!-- About Section -->
    <div class="content pure-u-1 pure-u-md-3-4">
        
         <center><h2>Oh, Hello there!</h2></center>
    
    <h3>My name is Aynsley Longridge, i’m a student designer from Belfast, Northern Ireland. </h3>
        
        <p>I am currently enjoying exploring different ways to create digital magic.  Although my work is often created for the computerised realm, my two favourite tools will forever be pen and paper.
<br>
<br>
            <p>I have a bit of a fear of not having a sketch book with me at all times…inspiration usually comes to me when I least expect it. Sketching out ideas quickly and spontaneously, I believe, is how great things happen. </p>
<br>
<br>
    <p>I am particularly interested in carrying hand drawn illustrations into the digital world and I love exploring subtle interactions. I am a forward thinker and love any chance to collaborate with people to create exciting new things!
I can be a bit of a nocturnal character, but it's okay I guess, because thats when I’m most productive! </p>
        <div>
            

            
                </div>
            </div>



