    <!-- Footer -->
        
     <footer>
    <div class="social">
		<center>
<a href="https://twitter.com/aynsley25"><img src="pictures/Twitter.svg" alt="Follow me on Twitter" class="twitter" /></a>
<a href="https://www.instagram.com/ayns_123/"><img src="pictures/Instagram.svg" alt="Follow me on Instagram" class="instagram" /></a>
<a href="https://dribbble.com/AynsleyLongridge"><img src="pictures/Dribbble.svg" alt="Follow me on Dribbble" class="dribble"/></a>
            </center>
	</div>
       


    </footer>