 <!-- Navigation -->
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <center><img src="pictures/marque.svg" class="marque">
            <h1 class="brand-title">Aynsley Longridge</h1>
        <h4>Interaction Designer</h4></center>
            

            
      <nav><center><div class="Navigation">
        
              
              <ul>
        <li><a href="index.html">About</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="http://aynsleylongridge.tumblr.com/">Journal</a></li>
        <li><a href="cv.html">CV</a></li>
          </ul>
          </div>
          </center>
          </nav>
        
        <div class="contact">
                <center><h4>Please don't hesitate!</h4>
                <h5>hello@aynsley
                    <br>longridge.com</h5></center>
        </div>
        
        </div>
        
              
    </div>